.telo{
    width: 960px;
    margin: 0 auto;
}
.sve{
    margin: 0 auto;
}
.carousel-inner{
  width: 15%;
}
h1{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}
.red1 img{
    width: 100%;
}