body{
    box-sizing: border-box;
}
.cf:before, .cf:after{
    content:"";
    display: table;
}
.cf:after{
    clear: both;
}
main{
    width: 70%;
    margin: 0 auto;
}
img{
    float: left;
}
header div{
    float: left;
    padding-left: 20px;
}
.box1{
    box-sizing: border-box;
    float: left;
    width: 45%;
    padding: 10px;
}
.box2{
    box-sizing: border-box;
    float: right;
    width: 55%;
    border-left: solid black;
    padding: 10px;
}
