<!-- <!DOCTYPE html>
<html>

<head>
    <title> Layouts </title>
    
</head>

<body>
    <div>
        <p id="top">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia corrupti, quia voluptas
            consequatur dolore
            mollitia beatae? Quod molestias natus eos unde omnis possimus vel illum magni alias odio. Rerum, odio?</p>

        <br>
        <img src="https://i.redd.it/tsb1ip8pt4fz.jpg" id="slika1">
        <img src="https://pmcvariety.files.wordpress.com/2015/05/sicario-cannes-film-festival.jpg?w=1000" id="slika2">


    </div>


    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quaerat possimus nulla similique incidunt eius
        molestias in sed a at laborum iure maiores, voluptas deserunt. Iusto, esse! In, omnis repudiandae!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam consequuntur praesentium delectus aliquid autem
        ab ducimus quod et incidunt, adipisci porro. Saepe temporibus velit debitis autem, modi eligendi at minus
        molestias eum harum error et, recusandae, commodi asperiores architecto tempora?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi libero vitae saepe in doloremque animi!
        Totam, nemo quos maxime perspiciatis placeat expedita, mollitia iusto voluptate vitae quas laudantium reiciendis
        ad obcaecati ipsa tempore sequi inventore, eius praesentium alias assumenda? Libero ex nulla expedita officiis
        architecto eveniet quidem et! Dignissimos facere corporis autem provident necessitatibus, hic culpa quam in
        ratione, natus excepturi omnis sapiente ipsa earum, beatae quidem. Dolorum, quae. Tempore nobis quos similique
        inventore rem nemo, excepturi eius deleniti omnis, amet ex quis dicta quisquam minima? Distinctio, optio
        voluptatem nihil inventore qui dolor atque ullam delectus architecto odit odio dolorum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi libero vitae saepe in doloremque animi!
        Totam, nemo quos maxime perspiciatis placeat expedita, mollitia iusto voluptate vitae quas laudantium reiciendis
        ad obcaecati ipsa tempore sequi inventore, eius praesentium alias assumenda? Libero ex nulla expedita officiis
        architecto eveniet quidem et! Dignissimos facere corporis autem provident necessitatibus, hic culpa quam in
        ratione, natus excepturi omnis sapiente ipsa earum, beatae quidem. Dolorum, quae. Tempore nobis quos similique
        inventore rem nemo, excepturi eius deleniti omnis, amet ex quis dicta quisquam minima? Distinctio, optio
        voluptatem nihil inventore qui dolor atque ullam delectus architecto odit odio dolorum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi libero vitae saepe in doloremque animi!
        Totam, nemo quos maxime perspiciatis placeat expedita, mollitia iusto voluptate vitae quas laudantium reiciendis
        ad obcaecati ipsa tempore sequi inventore, eius praesentium alias assumenda? Libero ex nulla expedita officiis
        architecto eveniet quidem et! Dignissimos facere corporis autem provident necessitatibus, hic culpa quam in
        ratione, natus excepturi omnis sapiente ipsa earum, beatae quidem. Dolorum, quae. Tempore nobis quos similique
        inventore rem nemo, excepturi eius deleniti omnis, amet ex quis dicta quisquam minima? Distinctio, optio
        voluptatem nihil inventore qui dolor atque ullam delectus architecto odit odio dolorum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi libero vitae saepe in doloremque animi!
        Totam, nemo quos maxime perspiciatis placeat expedita, mollitia iusto voluptate vitae quas laudantium reiciendis
        ad obcaecati ipsa tempore sequi inventore, eius praesentium alias assumenda? Libero ex nulla expedita officiis
        architecto eveniet quidem et! Dignissimos facere corporis autem provident necessitatibus, hic culpa quam in
        ratione, natus excepturi omnis sapiente ipsa earum, beatae quidem. Dolorum, quae. Tempore nobis quos similique
        inventore rem nemo, excepturi eius deleniti omnis, amet ex quis dicta quisquam minima? Distinctio, optio
        voluptatem nihil inventore qui dolor atque ullam delectus architecto odit odio dolorum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi libero vitae saepe in doloremque animi!
        Totam, nemo quos maxime perspiciatis placeat expedita, mollitia iusto voluptate vitae quas laudantium reiciendis
        ad obcaecati ipsa tempore sequi inventore, eius praesentium alias assumenda? Libero ex nulla expedita officiis
        architecto eveniet quidem et! Dignissimos facere corporis autem provident necessitatibus, hic culpa quam in
        ratione, natus excepturi omnis sapiente ipsa earum, beatae quidem. Dolorum, quae. Tempore nobis quos similique
        inventore rem nemo, excepturi eius deleniti omnis, amet ex quis dicta quisquam minima? Distinctio, optio
        voluptatem nihil inventore qui dolor atque ullam delectus architecto odit odio dolorum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi libero vitae saepe in doloremque animi!
        Totam, nemo quos maxime perspiciatis placeat expedita, mollitia iusto voluptate vitae quas laudantium reiciendis
        ad obcaecati ipsa tempore sequi inventore, eius praesentium alias assumenda? Libero ex nulla expedita officiis
        architecto eveniet quidem et! Dignissimos facere corporis autem provident necessitatibus, hic culpa quam in
        ratione, natus excepturi omnis sapiente ipsa earum, beatae quidem. Dolorum, quae. Tempore nobis quos similique
        inventore rem nemo, excepturi eius deleniti omnis, amet ex quis dicta quisquam minima? Distinctio, optio
        voluptatem nihil inventore qui dolor atque ullam delectus architecto odit odio dolorum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi libero vitae saepe in doloremque animi!
        Totam, nemo quos maxime perspiciatis placeat expedita, mollitia iusto voluptate vitae quas laudantium reiciendis
        ad obcaecati ipsa tempore sequi inventore, eius praesentium alias assumenda? Libero ex nulla expedita officiis
        architecto eveniet quidem et! Dignissimos facere corporis autem provident necessitatibus, hic culpa quam in
        ratione, natus excepturi omnis sapiente ipsa earum, beatae quidem. Dolorum, quae. Tempore nobis quos similique
        inventore rem nemo, excepturi eius deleniti omnis, amet ex quis dicta quisquam minima? Distinctio, optio
        voluptatem nihil inventore qui dolor atque ullam delectus architecto odit odio dolorum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi libero vitae saepe in doloremque animi!
        Totam, nemo quos maxime perspiciatis placeat expedita, mollitia iusto voluptate vitae quas laudantium reiciendis
        ad obcaecati ipsa tempore sequi inventore, eius praesentium alias assumenda? Libero ex nulla expedita officiis
        architecto eveniet quidem et! Dignissimos facere corporis autem provident necessitatibus, hic culpa quam in
        ratione, natus excepturi omnis sapiente ipsa earum, beatae quidem. Dolorum, quae. Tempore nobis quos similique
        inventore rem nemo, excepturi eius deleniti omnis, amet ex quis dicta quisquam minima? Distinctio, optio
        voluptatem nihil inventore qui dolor atque ullam delectus architecto odit odio dolorum?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi libero vitae saepe in doloremque
        animi!
        Totam, nemo quos maxime perspiciatis placeat expedita, mollitia iusto voluptate vitae quas laudantium reiciendis
        ad obcaecati ipsa tempore sequi inventore, eius praesentium alias assumenda? Libero ex nulla expedita officiis
        architecto eveniet quidem et! Dignissimos facere corporis autem provident necessitatibus, hic culpa quam in
        ratione, natus excepturi omnis sapiente ipsa earum, beatae quidem. Dolorum, quae. Tempore nobis quos similique
        inventore rem nemo, excepturi eius deleniti omnis, amet ex quis dicta quisquam minima? Distinctio, optio
        voluptatem nihil inventore qui dolor atque ullam delectus architecto odit odio dolorum?
        <img src="https://i.ytimg.com/vi/i02bxFc88b4/maxresdefault.jpg" id="slika3"></p>
    <a href="#top" id="link"> Back to top</a>
</body>

</html> -->


<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
    <!-- <div id="first"></div>
    <div id="second"></div>
    <div id="third"></div>
    <hr> -->

    <!-- <div id="first1"></div>
    <div id="second1"></div>
    <div id="third1"></div> -->

    <!-- <div id="bravo"></div>
    <div id="delta"></div>
    <div id="alpha"></div> -->



</body>

</html>