/* #slika1{
    position: relative;
    top: 50px;
    left: 100px;
    height: 400px; 
}

#slika2{
    position:absolute;
    top: 15px;
    right: 10px;
    height: 400px;
}
#slika3{
    position: absolute;
    bottom: 0px;
    height: 400px;
}
#link{
    position:fixed ;
    right: 0px;
    bottom: 0px;

} */

/* div{
    height: 200px;
    width: 200px;
} */

/* #first{
    background-color: red;
}
#second{
    background-color: blue;
}
#third{
    background-color: green;
} */

/* #first1{
    background-color: red;
    position: relative;
    left: 0px;
    top: 0px;
    
    
}
#second1{
    background-color: rgb(238, 185, 39);
    position: relative;
    left: 100px;
    top: -100px;
    
    

}
#third1{
    background-color: rgb(2, 18, 109);
    position: relative;
    left: 200px;
    top: -200px;
    
} */

/* #bravo {
    background-color: red;
    position: absolute;
    right: 0px;
    z-index: 3;
}
#delta{
    background-color: rgb(238,185,39);
    position: absolute;
    right: 100px;
    top: 100px;
    z-index: 2;

}

#alpha{
    background-color: rgb(2,18,109);
    position: absolute;
    right: 200px;
    top: 200px;
    z-index: 1;
} */